/*--------------
GLOBAL
 ------------*/

.App {
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

/*--------------
HEADER
 ------------*/

.App-header {
  background: #222;
  padding: 45px 0;
  height: 200px;
  color: #aaaaaa;
  text-align: center;

  h1 {
    margin: 30px auto;
    text-shadow: 0 4px 8px #000;
  }

  .burger-menu-btn {
    margin: auto;
    background: none;
    color: #aaaaaa;
  }

}


/*--------------
MAIN MENU
 ------------*/

.nav-tabs {
  margin: auto;
  width: 900px;

  li {
    width: 25%;
    padding: 5px;
    position: relative;
    top: -40px;
    font-size: 16px;
    font-weight: bold;
    opacity: 1;
    animation: menuFadeIn .5s ease-out 1;

    a {
      border: #aaaaaa 1px solid;
      height: 120px;
      border-radius: 0px;
      background: #fff;
      align-items: center;
      text-align: center;
      transition: .5s ease;
      position: relative;
      box-shadow: 0 2px 12px rgba(0,0,0,0.5);
      font-size: 20px;

      &:hover {
        box-shadow: 0 4px 16px rgba(0,0,0,0.7);
        background: #004466;
        border: #222222 1px solid;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.2));
          animation: slide-right .5s ease 1;
          transition: 1s ease;
          opacity: 0;
        }
      }
    }
  }

  .active {

    a {
      box-shadow: 0 2px 16px #000;
      background: #004466 !important;
    }
  }
}

.hide-menu {

  li {
    display: none;
  }
}


/*--------------
INTERNAL PAGE
 ------------*/

.internal-page {
  animation: pageFadeIn .5s ease-in 1;

  .page-container {
    position: relative;
    margin: auto;
    top: 0;
    animation: contentFadeIn .5s ease-out 1;
  }
}


/*--------------
ANIMATIONS
 ------------*/

@keyframes slide-right {
  from { width: 0; opacity: 1; }
  to { width: 100%; opacity: 0; }
}

@keyframes menuFadeIn {
  from { opacity: 0; top: 0px;}
  to { opacity: 1; top: -40px;}
}

@keyframes contentFadeIn {
  from { opacity: 0; top: 40px;}
  to { opacity: 1; top: 0;}
}

@keyframes pageFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
